.Header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #040D17;
}

.ul {
    width: 120px;
    display: flex;
    justify-content: space-between;
    
}

.li {
    position: relative;
    list-style: none;
    color: white;;
    font-weight: bold;
    cursor: pointer;
}

.ul > li:hover {
    color: rgb(154, 208, 251);
}

.ul > li::after {
    content: "";
    position: absolute;
    top: 22px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: rgb(154, 208, 251);
    transition: width 0.3s ease;
    z-index: 100;
}

.ul > li:hover::after {
    width: 100%;
    z-index: 100;
}

.logo { width: 110px; }

