.HomeContent1 {
    width: 100%;
    height: 800px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #040D17;
}

.ul {

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    text-align: center;
}


.li {
    font-weight: bold;
    font-size: 36px;
    padding: 10px;
}

.li:nth-child(2) {
    font-weight: bold;
    font-size: 50px;

}
.li:nth-child(3) {
    font-size: 24px;

}


.button {
    width: 250px;
    height: 71px;
    border: 1px solid rgb(75, 95, 104);
    border-radius: 50px;
    text-align: center;
    line-height: 71px;
    background-color: rgb(48, 54, 61);
    color: #fff;
    font-size: 24px;
    transition: .3s;
    font-weight: bold;
    cursor: pointer;
}

.button:hover {
    background-color: #fffbfb46;
}

