.InterViewCamera {
    flex: 1;
    background-color: #040D17;
}


.CameraBox {
    margin: 0 auto;
    width: 710px;
    height: 500px;
    border: 1px solid white;
    margin-top: 20px;
    border-radius: 10px;
}

.CameraBox video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}


.CameraBox > canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}