.InterviewQuestion {
    width: 100%;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    background-color: #040D17;


}

.divImg {
    width: 90px;
    height: 100px;
    border-radius: 30px;
}

.divP {
    width: 720px;
    height: 80px;
    background-color: #2c2f36;;
    border-radius: 20px;
    padding: 0 20px 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.divP > p {
    color: white;
    background-color: none;

    

}

